{% block stylesheets %}
  {# <link rel="stylesheet" href="{{ asset('css/composants/header.css') }}" /> #}
{% endblock %}

<header>
    
  <nav class="navbar navbar-expand-lg"><!-- Barre de navigation -->

    <div class="container">

      <a href="{{ path('app_accueil') }}"><img src="{{ asset('images/logo/grp_marque.png') }}" alt="Logo Hanabi" /></a>

      {# Crée le menu burger #}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">

        <ul class="navbar-nav me-auto">

          <li class="mx-auto my-auto"><a class="nav-link p-1 m-1" href="{{ path('app_accueil') }}">Accueil</a></li>
          <li class="mx-auto my-auto"><a class="nav-link p-1 m-1" href="{{ path('app_shop')}}">Boutique</a></li>

          {% if app.user  %} {# si utilisateur connecter #}

            {% if app.user.clients %}
              <li class="mx-auto my-auto"><a class="nav-link p-1 m-1" href="{{ path('app_formulaire_demande_produit_show_liste', {'user_id': app.user.clients.id}) }}">Contact</a></li>
            {% elseif app.user.vendeurs  %} {# sinon si l utilisateur est un vendeur -> renvoie à la liste pour accepter form #}
              <li class="mx-auto my-auto"><a class="nav-link p-1 m-1" href="{{ path('app_formulaire_demande_produit_index') }}">Formulaires</a></li>
            {% else %} {# renvoie sur la page qui informe du besoin de connexion #}
              <li class="mx-auto my-auto"><a class="nav-link p-1 m-1" href="{{ path('app_contact')}}">Contact</a></li>
            {% endif %}

          {% else %} {# renvoie sur la page qui informe du besoin de connexion #}
            <li class="mx-auto my-auto"><a class="nav-link p-1 m-1" href="{{ path('app_contact')}}">Contact</a></li>
          {% endif %}

          {% if app.user  %} {# si utilisateur connecter #}
            {% if app.user.vendeurs %}
              <li class="mx-auto my-auto"><a class="nav-link p-1 m-1" href="{{ path('app_administration')}}" style:"text-decoration:none;">Admin</a></li>
            {% endif %}
          {% endif %}
          
          <li class="ps-2">{# Barre de recherche #}
            <form class=" d-flex p-1 "> <!--ici le dflex permet de mettre les 2 éléments cote à cote-->
              <div class="input-group border rounded texte-color">
                <input type="text" class="form-control form-control" placeholder="produit, licence...">
                <div class="input-group-text btn">
                  <img src="{{ asset('images/icones/search.png') }}" alt="" width="20px" height="20px">
                </div>
              </div>
            </form>
          </li>
            
          {% if app.user %}
          {# Icone Pannier #}
            <div class="mx-auto my-auto">
              <li class="p-2">
                {# <a href="{{ path('app_panier_show', { id : app.user.id }) }}"> #}
                <img src="{{ asset('images/icones/shopping-cart_1.png') }}" alt="Pannier d'achats" class="m-1" width="30px" height="30px">
                {# </a> #}
              </li>
            </div>
            
          {# Icone Favoris #}
            <div class="mx-auto my-auto">
              <li class="p-2">
                <img src="{{ asset('images/icones/heart_1.png') }}" alt="Liste des favoris" class="m-1" width="30px" height="30px">
              </li>
            </div>

          {# Dropdown "accès" au compte #}
            <div class="dropdown-center d-inline-flex justify-content-center">

              <button id="menuProfil" class="btn btn-sm dropdown-toggle dropdown-toggle-split show" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img id="img_profil" src="{{ asset('images/icones/user_black_line.png') }}" alt="Logo profil" class="m-1" width="40px"height="40px">
              </button>

              <div class="dropdown-menu dropdown-menu-end p-0 " aria-labelledby="menuProfil">
                <h6 class="dropdown-header">Bonjour, {{ app.user.username }}</h6>

                {% if app.user.clients %} {# si user est un client --> affiche profil client #}
                  <li class="dropdown-item">
                    <a class="nav-link" href="{{ path('app_clients_show', { user_id : app.user.id }) }}">
                      <h6>Mon Profil</h6>
                    </a>
                  </li>
                  <hr class="dropdown-divider">

                {% elseif app.user.vendeurs %} {# si user est un vendeur --> affiche profil du vendeur #}
                  <li class="dropdown-item">
                    <a class="nav-link" href="{{ path('app_vendeurs_show', { user_id : app.user.id }) }}">
                      <h6>Profil vendeur</h6>
                    </a>
                  </li>
                  <hr class="dropdown-divider">

                {% else %} {# si user n'est pas un vendeur et n'as pas d'infos client enregitrer --> affiche profil user #}
                  <li class="dropdown-item">
                    <a class="nav-link" href="{{ path('app_user_show', { id : app.user.id }) }}">
                      <h6>Mon Profil</h6>
                    </a>
                  </li>
                  <hr class="dropdown-divider">

                {% endif %}

                {% if app.user.clients %}
                  <li class="dropdown-item mx-auto my-auto">
                    <a class="nav-link p-1 m-1" href="{{ path('app_formulaire_demande_produit_show_liste', {'user_id': app.user.clients.id}) }}">
                      <h6>Mes Formulaires</h6>
                    </a>
                  </li> 
                  <hr class="dropdown-divider">
                  
                  <li class="dropdown-item mx-auto my-auto">
                    <a class="nav-link p-1 m-1" href="{{ path('app_commandes_index') }}">
                      <h6>Mes commandes</h6>
                    </a>
                  </li> 
                  <hr class="dropdown-divider">
                {% endif %}
                {# <a class="nav-link p-1 m-1" href="{{ path('app_formulaire_demande_produit_show_liste', {'user_id': app.user.id}) }}">
                      <h6>Mes commandes 2</h6>
                    </a> #}

                <form class="dropdown-item" method="post" action="{{ path('app_logout') }}">
                  <button type="submit" class="logout nav-link"><h6>Déconnexion</h6></button>
                </form>
              </div>

            </div>
            
          {# Si utilisateur pas connecté #}
          {% else %}
            <div class="menu_connect">
              {# <ul class="navbar-nav me-auto">
                <li class="nav-link p-1 m-1"><a href="{{ path('app_register') }}">Inscription</a></li>
                <li class="nav-link p-1 m-1"><a href="{{ path('app_login') }}">Connexion</a></li>
              </ul> #}

              <ul class="navbar-nav me-auto ">
                <li class="nav-link p-1 m-1 p-1">
                <a class="btn btn-sm btn-outline-dark rounded p-1 p-0" href="{{ path('app_login') }}">Connexion / Inscription</a>
                </li>
              </ul>

            </div>
          {% endif %}
        </ul>
      </div>
    </div> 
    
  </nav>



                {# <li>
                <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                  Connexion
                </button>
                </li> #}
  {# <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Connexion</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <a href="{{ path('app_register') }}" class="text-center"><p>Pas encore inscrit ? Rejoignez nous</p></a>
    </div>
  </div> #}


  <div class="trait_x"></div><!-- trait de séparation -->

</header>
