{% extends 'base.html.twig' %}

{% block title %}Connectez vous !{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/style/css/composants/composant_log.css')}}">
{% endblock %}

{% block body %}






    <section class="container login_bloc">

        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}



                <div class="container ">





                    <div class="login_bloc_header">
                        <h1> Connectez-vous</h1>
                    </div>
                    {% if app.request.query.get('msg') != "" %}
                            <div class="alert alert-dismissible alert-info">
                                <button type="button" class="btn-close cross" data-bs-dismiss="alert"></button>
                                <strong>{{app.request.query.get('msg')  }} </strong>
                                
                            </div> 
                    {% endif %}


                    {% if app.user  %}

                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <p>
                                <em>
                                    Vérifier vodre adresse email. Vous ne l'avez pas reçu ?
                                    <strong>
                                        <a  href=" {{ path("app_register_send_mail",  {'id': app.user.id}  ) }}">
                                            Renvoyer le moi
                                        </a>
                                    </strong>
                                </em>
                            </p>  
                        </div>



                    {% else %}
                                                
                    <div class="login_bloc_content">



                        <div class="form-floating  p-2">
                            <label for="inputEmail">Email : </label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="form-floating  p-2"> 
                            <label for="inputPassword">Mot de passe :</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button class="login_bloc_button" type="submit">Connexion</button>
                        
                    </div>


                    {% endif %}

                </div>
            
        </form>

        <div class="login_bloc_footer">
            <a href="{{ path('app_register') }}">
                <p>Pas encore inscrit ? Rejoignez nous dès maintenant !</p>
            </a>
        </div>

    </section>
{% endblock %}
