{% extends 'base.html.twig' %}

{% block title %}Connectez vous !{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/style/css/composants/composant_log.css')}}">
{% endblock %}

{% block body %}

    <section class="container login_bloc">

        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}

                <div class="mb-3">
                    Vous êtes connecter comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
                </div>

            {% else %}

                <div class="container ">

                    <div class="login_bloc_header">
                        <h1> Connectez-vous</h1>
                    </div>
                                                
                    <div class="login_bloc_content">

                        <div class="form-floating  p-2">
                            <label for="inputEmail">Email : </label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="form-floating  p-2"> 
                            <label for="inputPassword">Mot de passe :</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button class="login_bloc_button" type="submit">Connexion</button>
                        
                    </div>

                </div>
            {% endif %}
        </form>

        <div class="login_bloc_footer">
            <a href="{{ path('app_register') }}">
                <p>Pas encore inscrit ? Rejoignez nous dès maintenant !</p>
            </a>
        </div>

    </section>
{% endblock %}
