{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="container w-75 pt-5 pb-5 ">
        <form method="post" class=" container w-75 pt-3 pb-3">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecter comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
                </div>
            {% else %}
                <div class="container text-center">
                    <h1 class="h3 mb-3 font-weight-normal"> Connectez-vous</h1>
                </div>

                <!--div principal qui modifie la largeur du formulaire-->
                <div class="container w-75 d-flex flex-column justify-content-between">
                                                
                    <div class="p-2">
                        <div class="form-floating  p-2">
                            <label for="inputEmail">Email : </label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="form-floating  p-2"> 
                            <label for="inputPassword">Mot de passe :</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    
                    <div class="d-flex justify-content-around mt-3">
                        <button class="btn btn-lg btn-secondary" type="submit">Connexion</button>
                    </div>
                </div>
            {% endif %}
        </form>

        <div> {# Changer la taile de la police  #}
            <a class="text-black text-center" href="{{ path('app_register') }}">
                <p>Pas encore inscrit ? Rejoignez nous dès maintenant !</p>
            </a>
        </div>

    </section>
{% endblock %}
