{% extends 'base.html.twig' %}

{% block title %}Modifier l'adresse {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./rework_css/account.css') }}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <div class="bloc_card">

            <div class="bloc_card_header">
                <h4> Modifier l'adresse  </h4>      
            </div>

            {{ form_start(form) }}

                <div class="bloc_card_add">
                    <p>Numéros</p>
                    {{ form_row( form.numAdrss, {label: ' '} ) }}  
                </div>

                
                <div class="bloc_card_add">
                    <p>Rue</p>
                    {{ form_widget( form.rueAdrss ) }} 
                </div>

                
                <div class="bloc_card_add">
                    <p>
                        Complément d'addresse <br>
                        <small>(Résidence, Batiment, Appartement)</small>
                    </p>                    
                    {{ form_widget( form.complementAdrss ) }} 
                </div>

                
                <div class="bloc_card_add">
                    <p>Ville</p>
                    {{ form_widget( form.villeAdrss ) }} 
                </div>

                
                <div class="bloc_card_add">
                    <p>Code postal</p>
                    {{ form_widget( form.codePostalAdrss ) }} 
                </div>

                <div class="bloc_card_add">
                    <p>Pays</p>
                    {{ form_widget( form.paysAdrss ) }} 
                </div>

                <button>
                    {{ button_label|default('Mettre à jour') }}
                </button>
            
            {{ form_end(form) }}

        
        </div>

        <div>

            {{ include('components/adresses/_delete_addresse.html.twig') }}

            <button>
                <a href="{{ path('app_user_show', {'id': app.user.id }) }}">Retour</a>
            </button>  
        </div>
    </div>




    {# {{ include('adresses/_form.html.twig', {'button_label': 'Update'}) }} #}


    

{% endblock %}
