{% extends 'base.html.twig' %}

{% block title %}New Adresses{% endblock %}

{% block body %}
    {# <h1>Create new Adresses</h1> #}

    {# {{ include('adresses/_form.html.twig') }} #}
    {% if msg != "" %}
    <div class='container text-center'>
        <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>{{ msg }}</strong>
        </div>
    </div>    
    {% endif %}
        {# <h1>Créer mon profil client</h1> #}
    {# {{ include('clients/_form.html.twig') }} #}
    {# <a href="{{ path('app_clients_index') }}">back to list</a> #}

<div class="container w-75 d-flex flex-column pt-3 pb-3">

    <h3>Ajouter une adresse </h3>

    {# <div class='container d-flex justify-content-between'> #}
    
        <div class=" mt-4 mb-2 pt-3 pb-2 border rounded  shadow-sm">

            <div class="d-flex flex-row justify-content-between">

                <div class="d-flex align-items-center text-center p-2">
                    <h4> Mes information de connexion </h4>
                </div>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Email : </th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            {# <td>{{ user.password }}</td> #}
                            <td>**********</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>


        <div class="container mt-4 mb-4 pt-3 pb-3 border rounded  shadow-sm">

            <div class="d-flex flex-row justify-content-between">

                <div class="d-flex align-items-center text-center p-2">
                    <h4> Mes information personnels : </h4>
                </div>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ client.nom }}</td>
                        </tr>
                        <tr>
                            <th>Prenom</th>
                            <td>{{ client.prenom }}</td>
                        </tr>
                        <tr>
                            <th>Telephone</th>
                            <td>{{ client.telephone }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    {# </div> #}



    <div class="container w-75 mt-4 mb-4 pt-3 pb-3 border rounded  shadow-sm">

    {% if limite < 3 %}
        {{ include('adresses/_form.html.twig') }}
    {% endif %}
    
    </div>
    

    <div class="d-flex flex-row justify-content-around">

        {# MODIFIER VERS LIENS DE SUPPRESSION + ajout méthode pour activer/desact compte  #}
        {#     {{ include('user/_delete_form.html.twig') }} #}

        <button class="btn btn-sm btn-outline-dark p-1" >
        <a class="btn p-0" href="{{ path('app_clients_show', {'user_id': app.user.id }) }}">Retour</a>
        </button>  
    </div>

</div>

    {# <a href="{{ path('app_adresses_index') }}">back to list</a> #}
{% endblock %}
