{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block body %}



    <h1>Adresses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NumAdrss</th>
                <td>{{ adress.numAdrss }}</td>
            </tr>
            <tr>
                <th>RueAdrss</th>
                <td>{{ adress.rueAdrss }}</td>
            </tr>
            <tr>
                <th>ComplementAdrss</th>
                <td>{{ adress.complementAdrss }}</td>
            </tr>
            <tr>
                <th>VilleAdrss</th>
                <td>{{ adress.villeAdrss }}</td>
            </tr>
            <tr>
                <th>CodePostalAdrss</th>
                <td>{{ adress.codePostalAdrss }}</td>
            </tr>
            <tr>
                <th>PaysAdrss</th>
                <td>{{ adress.paysAdrss }}</td>
            </tr>
        </tbody>
    </table>

        {% if app.user.clients %} {# si utilisateur est un client renvoie à sa liste personnelle #}
        <button>
            <a class="btn p-0" href="{{ path('app_clients_show', {'user_id': app.user.id}) }}">Retour </a>
        </button>
    {% elseif app.user.vendeurs %}{# si utilisateur est un vendeur renvoie à la liste de tous les formulaires #}
        <button>
            <a class="btn p-0" href="{{ path('app_formulaire_demande_produit_index') }}">Retour à la liste</a>
        </button>
    {% endif %}

    {# <a href="{{ path('app_adresses_edit', {'id': adress.id}) }}">edit</a> #}

    {{ include('adresses/_delete_addresse.html.twig') }}
{% endblock %}
