{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('asset/style/css/composants/composant_footer.css')}}">
{% endblock %}

<footer>
    <div class="trait_x"></div> <!-- trait de séparation -->
    
    <div class="container footer_bloc">

        {# Bloc de gauche #}
        <div class="foot_link">
            <a href="#">Mentions légales</a> 
            <a href="#">Plan du site</a> 
            <a href="#">Nous connaître</a>
            <a href="#">CGV</a>
        </div>

        <div class="trait_y">   <p> </p>    </div>         

        {# Bloc de droite #}
        <div class="social_media">

            <p>Réseaux sociaux :</p>

            <a href="#">
                <img src="{{ asset('images/icones/facebook_4.png') }}" alt="Lien Facebook">
            </a>

            <a href="#">
                <img src="{{ asset('images/icones/twitter_5.png') }}" alt="Lien Twitter">
            </a>

            <a href="#">
                <img src="{{ asset('images/icones/instagram_3.png') }}" alt="Lien Instagram">
            </a>

            <a href="#">
                <img src="{{ asset('images/icones/youtube_3.png') }}" alt="Lien Youtube">
            </a>

        </div>

    </div>

</footer>