{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
{# <link rel="stylesheet" href="{{ asset('asset/style/css/composants/composant_accordeon.css') }}"> #}
<link rel="stylesheet" href="{{ asset('asset/style/css/contact.css') }}">
{% endblock %}


{% block body %}

<div class="container bloc">

	<h1> Contact </h1>

	{% if app.user.ClientActivate == true %}

		<div class="bloc_card">

			<div class="bloc_card_header">
				<h4> Mes formulaires </h4>
				<button>
					<a href="{{ path('app_formulaire_demande_produit_new', {'id' : app.user.id}) }}">Faire une nouvelle demande</a>
				</button>
			</div>
			
			
			<div class="bloc_card_body">

				{% for form in formulaires %}
				
					<div class="form_card">
						<div class="bloc_card_row">
							<p>Type : </p>
							<p>{{ form.typeProduit }}</p>
						</div>

						<div class="bloc_card_row">
							<p>Envoyer le : </p>
							<p>{{ form.dateEnvoieForm ? form.dateEnvoieForm|date('d/m/Y') : '' }}</p>
						</div>

						<div class="bloc_card_row">
							<p>Statut : </p>

							{% if  form.reponseDemande is same as('attente')  %}
								<span class="badge rounded-pill bg-warning">En attente</span>
							{% elseif form.reponseDemande is same as('Accepter') %}
								<span class="badge rounded-pill bg-success">{{ form.reponseDemande }}</span>
							{% else  %}
								<span class="badge rounded-pill bg-danger">{{ form.reponseDemande }}</span>
							{% endif %}

						</div>

					</div>

				{% else %}
					<div>
						<p>Aucun formulaires trouvés.</p>
						{# <button>
							<a href="{{ path('app_formulaire_demande_produit_new', {'id' : app.user.id}) }}">Faire une nouvelle demande</a>
						</button> #}
					</div>
				{% endfor %}

			</div>

		</div>

	{% else %}

		<div class="bloc_card">
			<div class="bloc_card_body">
				<p> Pour continuer et faire une demande spécifique vous devez 
					<a href="{{ path('app_user_add_infos' , {'id': app.user.id }) }}">
						<u><em> <strong> ajouter vos informations personnels </strong> </em></u>
					</a>
				</p>
			</div>
		</div>

	{% endif %}

	
</div>



{% endblock %}
