{# {% extends 'base.html.twig' %}

{% block title %}FormulaireDemandeProduit index{% endblock %}

{% block body %}
    <div class=" container pt-5 pb-5">
    <div class=" container bloc">

        <h1>Liste des formulaires</h1>

        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th>N° de demande</th>
                        <th>Type de produit</th>
                        <th>Description envoyer</th>
                        <th>Date d'envoie</th>
                        <th>Statut </th>
                        <th>Action / </th>
                        <th>Afficher</th>
                    </tr>
                </thead>
                <tbody>
                    {% for  %}
                        <tr>
                            <td></td>

                            <td></td>

                            <td class="text-break">
                            
                            </td>

                            <td></td>


                                <td>
                                    <p> </p>
                                </td>
                                <td>
                                    
                                </td>
                            {% else %}
                                <td>
                                    
                                </td>

                                <td class="">

                                </td>
                            {% endif %}

                            <td>

                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="6">Aucun formulaires trouvés</td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %} Liste des formulaires {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('asset/style/css/formulaires.css')}}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <div class="bloc_show_form_list">

            <div class="show_form_list_header">
                <h1> Liste de tous les formulaires </h1>
            </div>

            <div class="bloc_show_content">
            
                <div class="show_content_row_form_list">
                    <p>N° de demande</p>
                    <p>Type de produit</p>
                    <p>Description</p>
                    <p>Date d'envoie</p>
                    <p>Statut</p>
                    <p>Afficher</p>
                </div>
   
                {% for form in formulaires %}
                    <div class="show_content_row_form_list">
                        <p>{{ form.id }}</p>
                        <p>{{ form.typeProduit }}</p>
                        <p>{{ form.descriptionProduit }}</p>
                        <p>{{ form.dateEnvoieForm ? form.dateEnvoieForm|date('d/m/y') : '' }}</p>


                        {# Renvoie à la page pour accepeter la demande si celle ci est "en attente" #}
                        {% if  form.reponseDemande is same as('attente')  %}
                            <div id="attente">
                                <span class="badge rounded-pill bg-warning">Attente</span>
                                {# <button> #}
                                    <a class="" href="{{ path('app_formulaire_demande_produit_traiter', {'id': form.id}) }}">Répondre</a>
                                {# </button> #}
                            </div>    
                        {% elseif form.reponseDemande is same as('Accepter') %}
                            <span class="badge rounded-pill bg-success">{{ form.reponseDemande }}</span>
                        {% else %}
                                <span class="badge rounded-pill bg-danger">{{ form.reponseDemande }}</span>
                        {% endif %}

                        <a class="btn" href="{{ path('app_formulaire_demande_produit_show', {'id': form.id}) }}">
                            <img src="{{ asset('images/icones/voir.png') }}" alt="icone voir" style="width : 40px;">
                        </a>

                    </div>

                {% endfor %}

                <div class="show_content_footer" >
                    <button class="bloc_show_footer">
                        <a href="{{ path('app_banniere_index') }}">Retour</a>
                    </button>                        
                </div>           
                
            </div>
        
        </div>

    </div>

{% endblock %}

