{% extends 'base.html.twig' %}

{% block title %}Banniere{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/style/css/banniere.css') }}">
{% endblock %}

{% block body %}

    <div class="container bloc">
        
        <div class="bloc_show_one">

            <div class="show_one_header">
                {{ include('pages/Administration/banniere/gestion/_delete_ban.html.twig') }}

                <h1>Bannière {{ banniere.id }}</h1>

                <button>
                    <a href="{{ path('app_banniere_edit', {'id': banniere.id}) }}">Modifier</a>
                </button>
            </div>

            <div class="show_one_content">

                <div class="show_content_row">
                    <p>Nom</p>
                    <p>{{ banniere.nomBanniere }}</p>
                </div>


                <div class="show_content_row">
                    <p>Première image</p>
                    <img src="{{ asset('images/banniere/' ~ banniere.premiereImage ) }}" alt="photo du produit :" ~ {{banniere.premiereImage}}>            
                </div>


                <div class="show_content_row">
                    <p>Deuxième image</p>
                    <img src="{{ asset('images/banniere/' ~ banniere.deuxiemeImage  ) }}" alt="photo du produit :" ~ {{banniere.deuxiemeImage}}>            
                </div>


                <div class="show_content_row">
                    <p>Troisième image</p>
                    <img src="{{ asset('images/banniere/' ~ banniere.troisiemeImage ) }}" alt="photo du produit :" ~ {{banniere.troisiemeImage}}>            
                </div>


            </div>


            <div class="show_content_footer">
                <button>
                    <a href="{{ path('app_banniere_index') }}">Retour</a>
                </button>
            </div>



        </div>

    </div>

{% endblock %}
