{% extends 'base.html.twig' %}

{% block title %}  Ajouter une adresse {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/style/css/adresses.css')}}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        {# {% if msg  %}
            <div class='container text-center '>
                <div class="alert alert-sm alert-success p-1">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{ msg2 }}</strong>
                    <p class='mb-0'> {{ msg }} </p>
                </div>
            </div> 
        {% endif %} #}

        <div class="bloc_add">

            <div class="bloc_add_header">
                <h1> Ajouter une adresse </h1>
            </div>

            <div class="bloc_add_content">

                {{ form_start(form) }}
                {{ form_errors(form) }}            
                
                    <div class="add_content_row">
                        <p>Numéros</p>
                        {{ form_row( form.numAdrss, {label: ' '} ) }}  
                    </div>

                    
                    <div class="add_content_row">
                        <p>Rue</p>
                        {{ form_row( form.rueAdrss, {label: ' '} ) }}
                    </div>


                    <div class="add_content_row">
                        <p>Complément d'addresse <br>
                            <small>(Résidence, Batiment, Appartement)</small>
                        </p>                    
                        {{ form_row( form.complementAdrss, {label: ' '} ) }}
                    </div>


                    <div class="add_content_row">
                        <p>Ville</p>
                        {{ form_row( form.villeAdrss, {label: ' '} ) }}
                    </div>


                    <div class="add_content_row">
                        <p>Code postal</p>
                        {{ form_row( form.codePostalAdrss, {label: ' '} ) }}
                    </div>

                    <div class="add_content_row">
                        <p>Pays</p>
                        {{ form_row( form.paysAdrss, {label: ' '} ) }} 
                    </div>                    


                    <div class="add_content_footer" >

                        <button class="bloc_add_footer">
                            <a href="{{ path('app_user_show', {'id': app.user.id }) }}">Retour</a>
                        </button>                        

                        <button class="bloc_add_footer">
                            {{ button_label|default('Enregistrer') }}
                        </button>
                    </div>           
                
                {{ form_end(form) }}

            </div>
        
        </div>

    </div>

{% endblock %}
