{# {% extends 'base.html.twig' %}

{% block title %}Ajouter un produit {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('./rework_css/account.css')}}">
{% endblock %}

{% block body %}


<div class="container bloc">

        {% if msg  %}
            <div class='container text-center '>
                <div class="alert alert-sm alert-success p-1">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{ msg2 }}</strong>
                    <p class='mb-0'> {{ msg }} </p>
                </div>
            </div> 
        {% endif %}
        {{ include('pages/Administration/banniere/gestion/_delete_ban.html.twig') }}

        <h1></h1>

        <div class="bloc_card">

            <div class="bloc_card_header">
                <h4>Banniere {{ actuelBanniere.id}} </h4>      
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}

                
                <div class="bloc_card_add">

                </div>


                <div class="bloc_card_add">

                </div>


                <div class="bloc_card_add">

                </div>



                <div class="bloc_card_add">

                </div>

                <div class="bloc_card_add">

                </div>

                <div class="bloc_card_edit_footer">
                    <button>
                        
                    </button>
                </div>         
            
            {{ form_end(form) }}

            
            <button>
                <a href="{{ path('app_produits_index') }}">Retour</a>
            </button>
    </div>
 

    


        <div class='d-flex flex-row justify-content-center '>
            

        </div>

    </div>

{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %} Nouveau produit {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/style/css/produit.css')}}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <div class="bloc_add">

            <div class="bloc_add_header">
                <h1>  Ajouter un nouveau produit</h1>
            </div>

            <div class="bloc_add_content">

                {{ form_start(form) }}
                {{ form_errors(form) }}
                
                    <div class="add_content_row">
                        <p>Nom du produit </p>
                        {{ form_row( form.nomProduit, {label: ' '} )}}
                    </div>

                    
                    <div class="add_content_row">
                        <p>Description</p>
                        {{ form_row( form.descriptionProduit, {label: ' '})}}
                    </div>


                    <div class="add_content_row">
                        <p>Choisir une images pour le produit </p>
                        {{ form_row( form.imgProduit, {label: ' '})}}
                    </div>


                    <div class="add_content_row">
                        <p>Prix </p>
                        {{ form_row( form.prixProduit, {label: ' '})}}
                    </div>


                    <div class="add_content_row">
                        <p>Quantité en stock</p>
                        {{ form_row( form.quantStock, {label: ' '})}}
                    </div>



                    <div class="add_content_footer" >

                        <button class="bloc_add_footer">
                            <a href="{{ path('app_banniere_index') }}">Retour</a>
                        </button>                        

                        <button class="bloc_add_footer">
                            {{ button_label|default('Enregistrer') }}
                        </button>
                    </div>         
                
                {{ form_end(form) }}


            </div>

        
        </div>

    </div>


{% endblock %}

