{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

    <div class="container">
        <h1>Liste des produits</h1>

        <table class="table">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th>Nom du produit</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Prix</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    {# <td>{{ produit.id }}</td> #}
                    <td>{{ produit.nomProduit }}</td>
                    <td>{{ produit.descriptionProduit }}</td>
                    <td>{{ produit.imgProduit }}</td>
                    <td>{{ produit.prixProduit }}</td>
                    <td>{{ produit.quantStock }}</td>
                    <td>
                        <a href="{{ path('app_produits_show', { 'user_id': app.user.id , 'id': produit.id}) }}">Voir</a>
                        <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun produits trouver</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>




        <div class="d-flex justify-content-center">
            <button>
                <a href="{{ path('app_produits_new') }}">Ajouter un produit</a>
            </button>
        </div>


    </div>
{% endblock %}
