{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Produits</h1>

      <div class="d-flex flex-row">
        <div>
      
            <img class="" src="{{ asset('images/produits/' ~ produit.imgProduit) }}" alt="photo du produit :" ~ {{produit.nomProduit }} style="height:400px;">
        </div>


        <div class="d-flex flex-column align-items-end ">
            <div class="d-flex flex-column justify-content-center">
                <h5 class="">{{ produit.nomProduit }}</h5>
                <p>{{ produit.descriptionProduit }}</p>
            </div>

            <div class="d-flex flex-column justify-content-end">
                <p>{{ produit.prixProduit }} $</p>

                {% if app.user %}
                    {# {{ include('panier/_ajouter_produit.html.twig') }} #}
                    {# <button onclick="ajouterAuPanier ('{{ produit.nomProduit }}', {{ produit.prixProduit }})"> #}
                    <button class="ajouter-au-panier" data-nom="{{ produit.nomProduit }}" data-prix="{{ produit.prixProduit }}">Ajouter au panier</button>
                    {# ajouter pannier
                    </button> #}

                    {# {% if app.user.clients %}
                        {{ include('panier/_ajouter_produit.html.twig') }}
                    {% elseif app.user.vendeurs %}
                    {{ include('produits/_delete_form.html.twig') }}
                    {% endif %} #}
                {% endif %}
            </div>
        </div>
      </div>

    {# <a href="{{ path('app_produits_index') }}">back to list</a> #}

    {# <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">edit</a> #}



    {# {{ include('produits/_delete_form.html.twig') }} #}

{% endblock %}
