{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/style/css/composants/composant_navbar.css') }}"/>
{% endblock %}


<div class="navigation_bar">

    {#  Logo #}
    <div>
        <a href="{{ path('app_accueil') }}">
            <img src="{{ asset('images/logo/grp_marque.png') }}" alt="Logo Hanabi" />
        </a>
    </div>

    {# Bouton burger #}
    <nav class="navbar">
        {# <div class=""> #}
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {# </div>  #}
    </nav>
</div>





<div class="navbar-collapse collapse d-lg-block" id="navbarToggleExternalContent">

    <div class="navigation_bar">

        {# Liens vers les autres pages      //      Link to the other pages #}
        <nav class="navigation_link">

            <a href="{{ path('app_accueil') }}">Accueil</a>
            <a href="{{ path('app_shop')}}">Boutique</a>
            <a href="{{ path('app_contact')}}">Contact</a>

            {% if app.user %}
                {% if app.user.roles ? app.user.roles|json_encode : '' == 'ROLE_ADMIN' %}
                    <a href="{{ path('app_administration')}}">Admin</a>
                {% endif %}
            {% endif %}

            <form>
                <div class="input-group border rounded texte-color">
                    <input type="text" class="form-control form-control" placeholder="produit, licence...">
                    <div class="input-group-text btn">
                        <img src="{{ asset('images/icones/search.png') }}" alt="" width="20px" height="20px">
                    </div>
                </div>
            </form>

            {% if app.user %}
            
                <div class="connected">
                    {# Icone Pannier #}
                    <div>{% include './components/panier/_dropdown.html.twig' %}</div>
                    <div>{% include './components/navbar/dropdown_account.html.twig' %}</div>                
                </div>

            {% else %}
                <div class="connected">
                    <button class="icon_button">
                        <a href="{{ path('app_login') }}">
                            <img id="img_profil" src="{{ asset('images/icones/user_black_line.png') }}" alt="Logo profil">
                        </a>
                    </button> 
                </div>
            {% endif %}

        </nav>

    </div>

</div>