{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/style/css/composants/composant_accordeon.css') }}">
{% endblock %}

<div class="accordion-item">

    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Liste des produits
        </button>
    </h2>

    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionAdmin">
 

    <div class="accordion-body">
    
        <div class="accordion_content">
            
            <div class="accordion_row_produit">
                <h5>Nom</h5>
                <h5>Description</h5>
                <h5>Image</h5>
                <h5>Prix</h5>
                <h5>Stock</h5>
                <h5>Action</h5>
            </div>

            {% for produit in produits %}

                <div class="accordion_row_produit"> 
                    <p>{{ produit.nomProduit }}</p>
                    <p><em>{{ produit.descriptionProduit }}</em></p>
                    <p><img class="" src="{{ asset('images/produits/' ~ produit.imgProduit) }}" alt="photo du produit :" ~ {{produit.nomProduit }} style="height:100px;"></p>
                    <p>{{ produit.prixProduit }} &#8364; </p>
                    <p>{{ produit.quantStock }}</p>
                    <a href="{{ path('app_produits_show', { 'user_id': app.user.id , 'id': produit.id}) }}">Voir</a>
                </div>

            {% else %}

                <p colspan="7">Aucun produits trouver</p>
               
            {% endfor %}

            <div class="accordion_footer" >
                <button class="bloc_show_footer">
                    <a href="{{ path('app_produits_index') }}">Accéder à la liste</a>
                </button>                        
            </div>    

        </div>
        
    </div>

</div>