
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/style/css/composants/composant_accordeon.css') }}">
{% endblock %}


<div class="accordion-item">

    <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Liste des formulaires
        </button>
    </h2>

    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionAdmin">
        
        <div class="accordion-body">
    
            <div class="accordion_content">
            
                <div class="accordion_row">
                    <h5>N°</h5>
                    <h5>Type</h5>
                    <h5>Date d'envoie</h5>
                    <h5>Statut </h5>
                    <h5>Client </h5>
                    <h5>Afficher</h5>
                </div>

                {% for form in formulaires %}
                    <div class="accordion_row">    
                        <p>{{ form.id }}</p>

                        <p>{{ form.typeProduit }}</p>

                        <p>{{ form.dateEnvoieForm ? form.dateEnvoieForm|date('d M Y à H:i') : '' }}</p> 

                        {# Si l'attribut reponse_demande est égal ) "attente" #}
                        {% if  form.reponseDemande is same as('attente')  %}
                            <div id="attente">
                                <span class="badge rounded-pill bg-warning">Attente</span>
                                <a class="" href="{{ path('app_formulaire_demande_produit_traiter', {'id': form.id}) }}">Traiter</a>
                            </div>
                        {% else %}
                        
                            <div>
                                {% if form.reponseDemande is same as('Accepter') %}
                                    <span class="badge rounded-pill bg-success">{{ form.reponseDemande }}</span>
                                {% else  %}
                                    <span class="badge rounded-pill bg-danger">{{ form.reponseDemande }}</span>
                                {% endif %}
                                <p> le {{ form.dateReponseForm ? form.dateReponseForm|date('d M Y à H:i') : ''}}</p>
                            </div>

                        {% endif %}


                        <a href="{{ path('app_formulaire_demande_produit_traiter', {'id': form.id}) }}">
                            <img src="{{ asset('images/icones/user_black_line.png') }}" alt="profil du client" class="m-1" width="40px"height="40px">
                        </a>

                        <a href="{{ path('app_formulaire_demande_produit_show', {'id': form.id}) }}">
                            <img src="{{ asset('images/icones/voir.png') }}" alt="icone voir" style="width : 40px;">
                        </a>
                    </div>            
                {% else %}
                                
                    <p>Aucun formulaires trouvés</p>

                {% endfor %}


                

                <div class="accordion_footer" >
                    <button class="bloc_show_footer">
                        <a href="{{ path('app_formulaire_demande_produit_index') }}">Accéder à la liste</a>
                    </button>                        

                </div>    


                
            </div>
        
        </div>

    </div>


</div>
