{% extends 'base.html.twig' %}

{% block title %} Liste des produits {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('asset/style/css/produit.css')}}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <div class="bloc_show_form_list">

            <div class="bloc_show_header">
                    <button>
                        <a href="{{ path('app_administration') }}">Retour</a>
                    </button>

                <h1> Liste des produits </h1>

                <button>
                    <a href="{{ path('app_produits_new') }}">Ajouter un produit</a>
                </button>
            </div>

            <div class="bloc_show_content">
            
                <div class="show_content_row_form_list">
                    <h5>Nom </h5>
                    <h5>Description</h5>
                    <h5>Image</h5>
                    <h5>Prix</h5>
                    <h5>Stock</h5>
                    <h5>Action</h5>
                </div>


                {% for content in produits %}
                    <div class="show_content_row_form_list">
                        <p> {{ content.nomProduit }} </p>
                        {# <p><em> {{ content.descriptionProduit }} </em> </p> #}
                        <em> {{ content.descriptionProduit }} </em>
                        <img class="" src="{{ asset('images/produits/' ~ content.imgProduit) }}" alt="photo du produit :" ~ {{content.nomProduit }} style="height:100px;">
                        <p> {{ content.prixProduit }} &#8364;</p>
                        <p> {{ content.quantStock }} </p>
                        <button>
                            <a href="{{ path('app_produits_show',  {'user_id': app.user.id, 'id' : content.id }) }}">Afficher</a>
                        </button>
                    </div>
                {% endfor %}
        
        </div>

    </div>

{% endblock %}

