{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


  {# <link rel="stylesheet" href="{{asset('css/accueil.css')}}">
  <link rel="stylesheet" href="{{asset('css/mozaic_accueil.css')}}"> #}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('asset/style/bootstrap.min.css') }}">
{% endblock %}


{% block body %}

<div>


  {% include "./composants_base/banniere.html.twig" %}

</div>
{# Mozaic produit le plus vendue #}
  <div class="bloc_vente"> {# Max 3 produits #}

    <h1>Nos produits populaires</h1>
  {# <div class="mozaic_accueil">
        {% for produit in produits %}
          <div class="carte_produit">
            <img src="{{ asset('images/produits/' ~ produit.imgProduit) }}" alt="photo du produit :" ~ {{produit.nomProduit }}>
            <div class="carte_corp_produit">
              <h5 class="carte_nom_produit">{{ produit.nomProduit }}</h5>
              <div class="carte_foot">
                <p>{{ produit.prixProduit }}</p>	
                <button class="acces_prod"> Voir </button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div> #}


  <div class="d-flex flex-row flex-wrap justify-content-center">

    {% for produit in produits %}
      <div class="card m-3 p-2 w-25">
        <img class="card-img-top" src="{{ asset('images/produits/' ~ produit.imgProduit) }}" alt="photo du produit :" ~ {{produit.nomProduit }} style="height:400px;">
        <div class="card-body">
          <h5 class="card-title text-center">{{ produit.nomProduit }}</h5>
          <div class="card-text d-flex justify-content-around">
            <p >{{ produit.prixProduit }}</p>
            <a href="{{ path('app_produits_show', {'client_id' : app.user.clients.id,'id': produit.id}) }}" class="btn btn-primary">Voir</a> {#  #}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>




  <div class="bloc_vente"> {# Max 3 produits #}

    <h1>Nos licences populaires</h1>  

      <div class="d-flex flex-row flex-wrap justify-content-center">
      {% for produit in produits %}
      
        <div class="card m-3 p-2 w-25">
        
          <img class="card-img-top" src="{{ asset('images/produits/' ~ produit.imgProduit) }}" alt="photo du produit :" ~ {{produit.nomProduit}} style="height:400px;">
          <div class="card-body">
            <h5 class="card-title text-center">{{ produit.nomProduit }}</h5>
            <div class="card-text d-flex c">
              <p >{{ produit.prixProduit }}</p>
              <a href="#!" class="btn btn-primary">Voir</a>
            </div>

          </div>
        </div>
      
      {% endfor %}
  </div>

  </div>
{% endblock %}
