{% extends 'base.html.twig' %}

{% block title %}Faire une demande{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./rework_css/account.css') }}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <h1>Contact</h1>

        <div class="bloc_card">

            <div class="bloc_card_header">
                <h4> Faire une demande personalisé </h4>
            </div>

            {{ form_start(form) }}

                
                <div class="bloc_card_add">
                    <p>ChoisissSez le type de produit voulue :</p>
                    {{ form_row(form.typeProduit, {label: ' '}) }}    
                </div>

                <div class="bloc_card_add">
                    <p>* Autres :</p>
                    {{ form_row(form.autresTypes, {label: ' '}) }}
                </div>

                <div class="bloc_card_add">
                    <p>Veuillez préciser votre recherche :</p>
                    {{ form_row(form.descriptionProduit, {label: ' '}) }}
                </div>

                <div class="bloc_card_edit_footer">
                    <button>
                        {{ button_label|default('Enregistrer') }}
                    </button>
                </div>

            {{ form_end(form) }} 


            <div class="d-flex justify-content-center">
                <button>
                    <a href="{{ path('app_formulaire_demande_produit_show_liste', {'id': app.user.id}) }}">Retour </a>
                </button>
            </div>
        
        </div>
    </div>

{% endblock %}