{# {% extends 'base.html.twig' %}

{% block title %}FormulaireDemandeProduit{% endblock %}

{% block body %}

<div class="container d-flex flex-column pt-5 pb-5">

    <div class="pt-2 pb-2">
        <h1>Formulaire</h1>
    </div>

    <table class="table">
        <tbody>

            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
        </tbody>
    </table>

</div>    

{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %} Formulaire {{ form.dateEnvoieForm ? form.dateEnvoieForm|date('d/m/y') : '' }} {% endblock %}

{% block stylesheets %}
	{# <link rel="stylesheet" href="{{asset('asset/style/css/_show_list.css')}}"> #}
    <link rel="stylesheet" href="{{asset('asset/style/css/formulaires.css')}}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <div class="bloc_show_one_form">

            <div class="show_one_form_header">
                <h1> Formulaire du {{ form.dateEnvoieForm ? form.dateEnvoieForm|date('d/m/y') : '' }}</h1>
            </div>

            <div class="bloc_show_one_form_content">

                <div class="show_one_form_row">
                    <p>Type de produit :</p>
                    <p>{{ form.typeProduit }}</p>
                </div>

                <div class="show_one_form_row">
                    <p>Description envoyée :</p>
                    <p>{{ form.descriptionProduit }}</p>
                </div>


                <div class="show_one_form_row">
                    <p>Date d'envoie de la demande :</p>
                    <p>{{ form.dateEnvoieForm ? form.dateEnvoieForm|date('d M Y') : '' }}</p>
                </div>

                <div class="show_one_form_row">
                    <p>Réponse :</p>

                    {% if  form.reponseDemande is same as('attente')  %}

                        <span class="badge rounded-pill bg-warning">Attente</span>

                    {% elseif form.reponseDemande is same as('Accepter') %}

                        <span class="badge rounded-pill bg-success">{{ form.reponseDemande }}</span>

                    {% else %}

                        <span class="badge rounded-pill bg-danger">{{ form.reponseDemande }}</span>

                    {% endif %}

                </div>
               
                

                <div class="show_content_footer" >


                {% if app.user and app.user.id == userForm  %} 
                    <button>
                        <a href="{{ path('app_formulaire_demande_produit_show_liste', {'id': app.user.id}) }}">Retour à ma liste</a>
                    </button>
                {% elseif app.user and 'ROLE_ADMIN' in app.user.roles %}
                    <button>
                        <a href="{{ path('app_formulaire_demande_produit_index') }}">Retour à la liste</a>
                    </button>
                {% endif %}

                </div>           
                
            </div>
        
        </div>

    </div>

{% endblock %}

