{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/style/css/account.css') }}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <h1> Mon compte </h1>

        {# Informations de connexion #}
        <div class="bloc_card">

            <div class="bloc_card_header">
                <h4> Mes information de connexion </h4>
                <button class="" >
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </button>             
            </div>

            <div class="bloc_card_body">

                <div class="bloc_card_row">
                    <p>Email : </p>
                    <p>{{ user.email }}</p>
                </div>

                <div class="bloc_card_row">
                    <p>Nom d'utilisateur : </p>
                    <p>{{ user.username }}</p>
                </div>

                <div class="bloc_card_row">
                    <p>Mot de passe :</p>
                    <p>**********</p>{# voir pour modifier le mot de passe #} 
                </div>
          
            </div>
        
        </div>


        {# INFORMATIONS PERSSONNELS  #}
        <div class="bloc_card">
            {% include "./pages/User/account/composants/bloc_infos_client.html.twig" %}
        </div>

        {# Adresses #}
        <div class="bloc_card">
            {% include "./pages/User/account/composants/bloc_adresses.html.twig" %}
        </div>
        

        {# Formulaires #}
        <div class="bloc_card">
            {% include "./pages/User/account/composants/bloc_formulaires.html.twig" %}
        </div>

        {# Modifier le booléen de la validation d inscription #}
        {# <button>
            <a href="{{ path('app_accueil') }}">Désactiver le compte</a>  
        </button>   #}


        <button>
            <a href="{{ path('app_accueil') }}">Retour</a>
        </button>  


    </div>
    


{% endblock %}
