{# {% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <h1>Liste de TOUTE LES commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date de commande</th>
                <th>Liste des produits</th>
                <th>Prix total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.listeProduits ? commande.listeProduits|json_encode : '' }}</td>
                <td>{{ commande.prixTotal }}</td>
                <td>
                    <a href="{{ path('app_commandes_show_one', {'id': app.user.id ,'cmd_id': commande.id}) }}">voir</a>
                    <a href="{{ path('app_commandes_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commandes_new') }}">Create new</a>
{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %} Liste des commandes {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/style/css/_show_list.css')}}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <div class="bloc_show">

            <div class="bloc_show_header">
                <h1>Liste des commandes</h1>
            </div>

            <div class="bloc_show_content">
            
                <div class="show_content_row">
                    <h5>Date de commande</h5>
                    {# <h5>Liste produits</h5> #}
                    <h5>Prix total</h5>
                    <h5>Action</h5>
                </div>
                {% for commande in commandes %}
                    <div class="show_content_row">
                        {# <p>{{ commande.user }}</p> #}
                        <p>{{ commande.dateCommande ? commande.dateCommande|date('d M Y à H:i') : '' }}</p>
                        {# <h5>{{ commande.listeProduits ? commande.listeProduits|json_encode : '' }}</h5> #}
                        <p>{{ commande.prixTotal }} &#8364; </p>
                        <p><a href="{{ path('app_commandes_show_one', {'cmd_id': commande.id}) }}">Voir</a></p>
                    </div>
                {% endfor %}
                
            </div>
        
        </div>

    </div>

{% endblock %}