{% extends 'base.html.twig' %}

{% block title %} Mes commandes {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('./rework_css/component_temp_show_list.css')}}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <div class="bloc_show">

            <div class="bloc_show_header">
                <h1>Liste de mes commandes</h1>
            </div>

            <div class="bloc_show_content">
            
                <div class="show_content_row">
                    <h5>Date de commande</h5>
                    {# <h5>Liste produits</h5> #}
                    <h5>Prix total</h5>
                    <h5>Action</h5>
                </div>
                {% for commande in commandes %}
                    <div class="show_content_row">
                        <p>{{ commande.dateCommande ? commande.dateCommande|date('d M Y à H:i') : '' }}</p>
                        {# <h5>{{ commande.listeProduits ? commande.listeProduits|json_encode : '' }}</h5> #}
                        <p>{{ commande.prixTotal }} &#8364; </p>
                        <p><a href="{{ path('app_commandes_show_one', {'cmd_id': commande.id}) }}">Voir</a></p>
                    </div>
                {% endfor %}
                
            </div>
        
        </div>

    </div>

{% endblock %}

