{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('./rework_css/component_card_produits.css') }}">
{% endblock %}

<div class="card">

  <img class="card-img-top img_produit" src="{{ asset('images/produits/' ~ produit.imgProduit) }}" alt="photo du produit :" ~ {{produit.nomProduit}}>

  <div class="card-body">

    <h5 class="card-title text-center">{{ produit.nomProduit }}</h5>
    
    <div class="card-text">
      <p >{{ produit.prixProduit }}</p>


      {# <a href="{{ path('app_produits_show', { 'user_id': app.user.id , 'id': produit.id}) }}" class="">Voir</a> #}

      {# {{ include('panier/ajouter.html.twig') }} #}

      <form method="post" action="{{ path('add_cart', {'id': produit.id , 'user_id': app.user.id }) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('addCart' ~ produit.id) }}">
    <button>Add</button>
</form>

    </div>

  </div>
  
</div>