{# {% extends 'base.html.twig' %}

{% block title %}Adresses index{% endblock %}

{% block body %}
    <h1>Adresses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumAdrss</th>
                <th>RueAdrss</th>
                <th>ComplementAdrss</th>
                <th>VilleAdrss</th>
                <th>CodePostalAdrss</th>
                <th>PaysAdrss</th>
                <th>client</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.numAdrss }}</td>
                <td>{{ adresse.rueAdrss }}</td>
                <td>{{ adresse.complementAdrss }}</td>
                <td>{{ adresse.villeAdrss }}</td>
                <td>{{ adresse.codePostalAdrss }}</td>
                <td>{{ adresse.paysAdrss }}</td>
                <td>{{ adresse.idClientAdresses.nom }}  {{ adresse.idClientAdresses.prenom }}</td>
                adress/accède à l'objet/ 
                    .idClientAdresses /accède à l'objet/ 
                    .prenom /accède à la colone demandé/
                <td>
                    <a href="{{ path('app_adresses_show', {'id': adress.id}) }}">show</a>
                    <a href="{{ path('app_adresses_edit', {'id': adress.id}) }}">edit</a>
                                  <a class="btn p-0" href="{{ path('app_adresses_show', {'id' : adresse.id}) }}">Voir</a>
              <a class="btn p-0" href="{{ path('app_adresses_edit', {'id' : adresse.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adresses_new') }}">Create new</a>
{% endblock %} #}
