{% extends 'base.html.twig' %}

{% block title %}Modifier compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/account.css') }}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <h1>Modifier mes informations de connexion </h1>

        <div class="bloc_card">

            <div class="bloc_card_header">
                <h4> Mes informations de connexion </h4>
            </div>

            <div class="bloc_card_body">
                {{ form_errors(form) }}

                {{ form_start(form) }}

                    <div class="bloc_card_edit">
                        <p>Votre email : </p>
                        <p>{{ actuel.email }}</p>
                        {{ form_row( form.email, {label: ' '} ) }}
                    </div>

                    <div class="bloc_card_edit">
                        <p>Nom d'utilisateur : </p>
                        <p>{{ actuel.username }}</p>
                        {{ form_row( form.username, {label: ' '} )}}
                    </div>

                    <div class="bloc_card_edit">
                        <p>Mot de passe : </p>
                        <p>**********</p>
                        {{ form_row( form.password, {label: ' '} )}}             
                    </div>


                    <div class="bloc_card_edit_footer">
                        <button>
                            <a  href="{{ path('app_user_show', {'id': user.id }) }}">Retour</a>
                        </button> 

                        <button>
                            {{ button_label|default('Enregistrer') }}
                        </button>
                    </div>
                    
                {{ form_end(form) }}

            </div>
        
        </div> 
    
    </div>

{% endblock %}
