{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <h1>Liste des commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date de commande</th>
                <th>Liste des produits</th>
                <th>Prix total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.listeProduits ? commande.listeProduits|json_encode : '' }}</td>
                <td>{{ commande.prixTotal }}</td>
                <td>
                    <a href="{{ path('app_commandes_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('app_commandes_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commandes_new') }}">Create new</a>
{% endblock %}
