{% extends 'base.html.twig' %}

{% block title %}FormulaireDemandeProduit Liste{% endblock %}

{% block body %}

<div class="container">

    <div class="p-1 text-center">
        <h1>Liste de mes formulaires</h1>
        <p>Vous trouverez ici la liste de tous vos fomulaires envoyés.</p>
    </div>
    

    {# <p> Liste des commandes de {{ client.nom}}  {{client.prenom }}</p> #}
   
    <table class="table">
        <thead>
            <tr>
                <th>Type de produit</th>
                <th>* Autres :</th>
                <th>Description</th>
                <th>Date de la demande</th>
                <th>Réponse</th>
                <th>Afficher</th>
            </tr>
        </thead>
        <tbody>
        {% for formulaire_demande_produit in formulaire_demande_produits %}
            <tr>
                <td>{{ formulaire_demande_produit.type_produit }}</td>
                                
                {# <td>{{ formulaire_demande_produit.autresTypes }}</td> #}
                <td class="text-break">{{ formulaire_demande_produit.description_produit }}</td>
                <td>Envoyer le {{ formulaire_demande_produit.date_envoie_form ? formulaire_demande_produit.date_envoie_form|date('d M Y à H:i') : '' }}</td>

                {% if  formulaire_demande_produit.reponse_demande is same as('attente')  %}
                    <td><p>Demande en attente </p></td>                    
                {% else %}
                    <td>{{ formulaire_demande_produit.date_reponse_form ? formulaire_demande_produit.date_reponse_form|date('d M Y à H:i') : ''}} </td>
                    <td>{{ formulaire_demande_produit.reponse_demande }}</td>
                {% endif %}

                {# <td>{{ formulaire_demande_produit.date_reponse_form ? formulaire_demande_produit.date_reponse_form|date('d M Y à H:i') : '' }}</td> #}
                <td > {# class="px-auto py-auto" #}
                    <a href="{{ path('app_formulaire_demande_produit_show', {'id': formulaire_demande_produit.id}) }}">
                        <img  src="{{ asset('images/icones/voir.png') }}" alt="icone voir" style="width : 60px;">
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun formulaires trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user.clients %}
        <a href="{{ path('app_formulaire_demande_produit_new', {'id' : app.user.clients.id}) }}">Faire une nouvelle demande</a>
    {% endif %}
</div>    
{% endblock %}
