{% extends 'base.html.twig' %}

{% block title %}FormulaireDemandeProduit index{% endblock %}

{% block body %}
    <h1>FormulaireDemandeProduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TypeProduit</th>
                <th>DescriptionProduit</th>
                <th>DateEnvoieForm</th>
                <th>DateReponseForm</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formulaire_demande_produit in formulaire_demande_produits %}
            <tr>
                <td>{{ formulaire_demande_produit.id }}</td>
                {# <td>{{ client.nom }}</td> #}


                <td>{{ formulaire_demande_produit.typeProduit }}</td>
                <td>{{ formulaire_demande_produit.descriptionProduit }}</td>
                <td>{{ formulaire_demande_produit.dateEnvoieForm ? formulaire_demande_produit.dateEnvoieForm|date('Y-m-d H:i:s') : '' }}</td>

                {# Renvoie à la page pour accepeter la demande si celle ci est "en attente" #}
                {% if  formulaire_demande_produit.reponseDemande is same as('attente')  %}
                    <td><p>Demande en attente </p></td>                    
                    <td><a href="{{ path('app_formulaire_demande_produit_traiter', {'id': formulaire_demande_produit.id}) }}">Accepter</a></td>                    
                {% else %}
                    <td>{{ formulaire_demande_produit.dateReponseForm ? formulaire_demande_produit.dateReponseForm|date('d M Y à H:i') : ''}} </td>
                    <td>{{ formulaire_demande_produit.reponseDemande }}</td>
                {% endif %}

                <td>
                    <a href="{{ path('app_formulaire_demande_produit_show', {'id': formulaire_demande_produit.id}) }}">
                        <img src="{{ asset('images/icones/voir.png') }}" alt="icone voir" style="width : 40px;">
                    </a>
                </td>
            </tr>

                        
                {# <td>
                    <a href="{{ path('app_banniere_edit', {'id': banniere.id}) }}">
                        <img src="{{ asset('images/icones/modifier.png') }}" alt="icone modifier" style="width : 40px;">
                    </a>
                </td> #}



            
        {% else %}
            <tr>
                <td colspan="6">Aucun formulaires trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formulaire_demande_produit_new', {'id' : app.user.clients.id}) }}">Create new</a>
{% endblock %}
