{% extends 'base.html.twig' %}

{% block title %}FormulaireDemandeProduit{% endblock %}

{% block body %}

<div class="container d-flex flex-column pt-5 pb-5">

    <div class="pt-2 pb-2">
        <h1>Formulaire</h1>
    </div>

    <table class="table">
        <tbody>

            <tr>
                <th>Type de produit :</th>
                <td>{{ formulaire_demande_produit.typeProduit }}</td>
            </tr>
            <tr>
                <th>Description envoyée :</th>
                <td class="text-break">{{ formulaire_demande_produit.descriptionProduit }}</td>
            </tr>
            <tr>
                <th>Date d'envoie de la demande :</th>
                <td>{{ formulaire_demande_produit.dateEnvoieForm ? formulaire_demande_produit.dateEnvoieForm|date('d M Y à H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Réponse du vendeur :</th> {# permet d'afficher le état de la demande  #}
                    <td>
                    {% if  formulaire_demande_produit.reponseDemande is same as('attente')  %}
                        Demande en attente   
                    {% else %}
                        {{ formulaire_demande_produit.reponseDemande ? 'Accepter' : 'Refuser' }}
                        le {{ formulaire_demande_produit.dateReponseForm ? formulaire_demande_produit.dateReponseForm|date('d M Y à H:i') : '' }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% if app.user.clients %} {# si utilisateur est un client renvoie à sa liste personnelle #}
        <button>
            <a class="btn p-0" href="{{ path('app_formulaire_demande_produit_show_liste', {'user_id': app.user.clients.id}) }}">Retour à la liste</a>
        </button>
    {% elseif app.user.vendeurs %}{# si utilisateur est un vendeur renvoie à la liste de tous les formulaires #}
        <button>
            <a class="btn p-0" href="{{ path('app_formulaire_demande_produit_index') }}">Retour à la liste</a>
        </button>
    {% endif %}
</div>    

{% endblock %}
