{% extends 'base.html.twig' %}

{% block title %}Modifier mes information personnels{% endblock %}

{% block body %}
<div class="container w-75 d-flex flex-column pt-3 pb-3">

    <h3>Modifier mes informations personnels</h3>

    <div class="container w-75 mt-4 mb-3 pt-3 pb-3 border rounded  shadow-sm">
        <div class="d-flex flex-row justify-content-between">

            <div class="d-flex align-items-center text-center p-2">
                <h4> Mes information de connexion </h4>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Email : </th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        {# <td>{{ user.password }}</td> #}
                        <td>**********</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="container w-75 mt-4 mb-4 pt-3 pb-3 border rounded  shadow-sm">
        <div class="d-flex flex-row justify-content-between">
            
            <div class="d-flex align-items-center text-center p-2">
                <h4> Mes information personnels </h4>
            </div>

            {{ form_errors(form) }}

            {{ form_start(form) }}
        
            <table class="table">
                    <tbody>
                        <tr >
                            <th>Nom: </th>
                            <th>{{ actuel.nom }}</th>
                            <th>{{ form_row( form.nom, {label: ' '} ) }}</th> {# #}
                        </tr>
                        <tr>
                            <th>Prénom</th>
                            <th>{{ actuel.prenom }}</th>
                            <th>{{ form_row( form.prenom, {label: ' '} )}}</th>{# ,{label: 'Prénom:'} #}
                        </tr>
                        <tr>
                            <th>téléphone</th>
                            <th>{{ actuel.telephone }}</th>
                            <th>{{ form_row( form.telephone, {label: ' '} )}}</th>{# ,{label: 'N° de téléphone :'} #}
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-secondary">{{ button_label|default('Enregistrer') }}</button>
                </div>
                
            {{ form_end(form) }}
        </div>
    </div>




    <div class="d-flex flex-row justify-content-around">

        {# MODIFIER VERS LIENS DE SUPPRESSION + ajout méthode pour activer/desact compte  #}
        {#     {{ include('user/_delete_form.html.twig') }} #}
        {# <button class="btn btn-sm btn-outline-dark p-1" >
            <a class="btn p-0" href="{{ path('app_accueil') }}">Supprimer</a> 
        </button>   #}

        <button class="btn btn-sm btn-outline-dark p-1" >
            <a class="btn p-0" href="{{ path('app_user_show', {'id': app.user.id }) }}">Retour</a>
        </button>  
    </div>

</div>

    {# {{ include('clients/_delete_form.html.twig',{'id': client.id} ) }} #}

{% endblock %}


