{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./rework_css/account.css') }}">
{% endblock %}

{% block body %}

    <div class="container bloc">

        <h1> Mon compte </h1>

        {# Informations de connexion #}
        <div class="bloc_card">

            <div class="bloc_card_header">
                <h4> Mes information de connexion </h4>
                <button class="" >
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </button>             
            </div>

            <div class="bloc_card_body">
                <p>Email : {{ user.email }}</p>
                <p>Nom d'utilisateur : {{ user.username }}</p>
                <p>Mot de passe : **********</p> {# voir pour modifier le mot de passe #}            
            </div>
        
        </div>


        <div class="bloc_card">


            {% if user.ClientActivate == true  %}

                {# BLOC INFOS PERSO #}
                <div class="bloc_card_header">
                    <h4> Mes information personnels </h4>
                    <button>
                        <a href="#">Modifier</a>
                    </button>
                </div>


                <div class="bloc_card_body">
                    <p> Nom : {{ user.nom }}</p>
                    <p> Prénom : {{ user.prenom }}</p>
                    <p> Téléphone : {{ user.telephone }}</p>
                </div>


                {# BLOC ADRESSES #}
                <div class="bloc_card_header">
                    <h4> Mes adresse </h4>
                </div>

                <div class="bloc_card_body_center">
                    
                    {% for adresse in adresses %}
                        <div class="address_card">
                            <p>{{ adresse.num_adrss }} {{ adresse.rue_adrss }}</p>
                            <p>{{ adresse.complement_adrss }}</p>
                            <p>{{ adresse.code_postal_adrss }} {{ adresse.ville_adrss }}</p>
                            <p>{{ adresse.pays_adrss }}</p>
                            <button>
                                <a href="{{ path('app_adresses_show' , {'id': app.user.id , 'id_adrss' : adresse.id }) }}"> Voir </a>
                            </button>  

                        </div>
                        

                        
                    {% endfor %}

                    {% if limiteAdress < 3 %} {# si la limite est inférieur à 3 #}
                         <button>
                            <a href="{{ path('app_adresses_new' , {'id': app.user.id }) }}"> Ajouter une adresse </a>
                        </button>      
                    {% endif %}
                
                </div>

            {% else %}

                <div class="bloc_card_header">
                    <h4> Mes information personnels </h4>
                </div>


                <div class="bloc_card_body_center">
                    <button>
                        <a href="{{ path('app_user_add_infos' , {'id': app.user.id }) }}">Ajouter mes infos personnels</a>
                    </button>   
                </div>



            {% endif %}

           
        
        </div>

        {# Modifier le booléen de la validation d inscription #}
        {# <button>
            <a href="{{ path('app_accueil') }}">Désactiver le compte</a>  
        </button>   #}


        <button>
            <a href="{{ path('app_accueil') }}">Retour</a>
        </button>  


    </div>
    


{% endblock %}
